<div style="margin-top: -150px;">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white skills" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray;">
            <i class="bi bi-hdd-fill"></i>
            <h3>Back-end</h3>
            <p>Mi experticia no se limita solo al desarrollo front-end, sino que abarca bases de datos tanto
                relacionales,
                como MySQL y SQL Server, como no relacionales, como MongoDB. Esta versatilidad me ha permitido abordar
                proyectos diversos y desafiantes, brindando soluciones eficientes y efectivas.</p>
            <p class="text-primary header">Stack:</p>
            <p>ASP.NET Core, SQL Server</p>
            <p class="text-primary header">Experiencia:</p>
            <ul>
                <li>Web APIs</li>
                <li>ASP.NET Core MVC</li>
                <li>Entity Framework Core</li>
                <li>Blazor</li>
            </ul>
        </div>
        <div class="col col-3 bg-white skills" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray;">
            <i class="bi bi-code-slash"></i>
            <h3>Front-end</h3>
            <p>
                Estoy siempre en busca de nuevos retos y oportunidades para aplicar mis habilidades técnicas y
                creativas. Si
                buscas a alguien que aporte experiencia y pasión al equipo, estaré encantado de conectar contigo.</p>
            <p class="text-primary header">Stack:</p>
            <p>React, Blazor</p>
            <p class="text-primary header">Experiencia:</p>
            <ul>
                <li>React</li>
                <li>Blazor</li>
            </ul>
        </div>
    </div>
</div>